<h1>Holidays Manager</h1>

<p>Hi <%= @admin.name %>,</p>

<p>A new Holiday of <%= @holiday.user.name %> had created!</p>

<p>
  Please, <%= link_to "Click here", @holiday %> to change the status of this holiday!
</p>

<p>
  Att,<br/>
  Hi <%= @admin.name %>,
</p>