<h1>Holidays Manager</h1>

<p>Hi <%= @user.name %>,</p>

<p>Congratulations!!</p>

<p>Your holiday was confirmed by the administrator!</p>

<%= render 'info_holidays' %>

<p>
  <%= link_to "Click here", holidays_path %> to see your holidays.
</p>

<%= render '_notifications' %>

<p>
  Att,<br/>
  Holiday Manager
</p>