<h1>Holidays Manager</h1>

<p>Hi <%= @user.name %>,</p>

<p>Your password was reset by the administrator!</p>

<p>Here is your new temporary password:</p>

----------------Info--------------------
<p>
  <strong>Temporary Password:</strong>
  <%= @user.password %>
</p>

----------------------------------------
<p>
  <%= link_to "Click here", root_path %> to login with your new password.
</p>

<%= render 'notifications' %>

<p>
  Att,<br/>
  Holiday Manager
</p>