<h1>Holidays Manager</h1>

<p>Hi <%= @user.name %>,</p>

<p>Welcome to Holidays Manager!</p>

<p>Here are your informations registered in the system</p>

----------------Info--------------------
<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Temporary Password:</strong>
  <%= @user.password %>
</p>

----------------------------------------
<p>
  <%= link_to "Click here", root_path %> to login with your new account.
</p>

<p>
  Att,<br/>
  Holiday Manager
</p>