<p id="notice"><%= notice %></p>

<h1>Listing All Holidays</h1>

<%= render 'holidays_table', :collection => @holidays = @holidays_pending %>
<%= render 'holidays_table', :collection => @holidays = @holidays_confirmed %>
<%= render 'holidays_table', :collection => @holidays = @holidays_canceled %>

