<h1>Callendar of Holidays</h1>

<div id="calendar"></div>
<script>
    jQuery.noConflict()
    $('#calendar').fullCalendar({
        events: [
            <% @holidays.each do |holiday| %>
            {
                title: '<%= holiday.user.name %>',
                start: '<%= holiday.start_date %>',
                end: '<%= holiday.end_date %>',
                url: '<%= holiday_path(holiday)%>'

            },
            <% end %>
        ],
        eventClick: function(event) {
            if (event.url) {
                window.open(event.url);
                return false;
            }
        },
        eventMouseover: function(event) {

        }
    });
</script>


