@import "bootstrap";

/* mixins, variables, etc. */


$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


//Minha parte

.notice {
  font-weight: bold;
  margin: -10px 0 15px 0;
  padding: 5px 5px 5px 27px;
  border: 2px solid #9c9;
  background: #e2f9e3 url('tick.png') no-repeat 5px center;
  color: #060;
}

.danger {
  font-weight: bold;
  margin: -10px 0 15px 0;
  padding: 5px 5px 5px 27px;
  border: 2px solid #c68484;
  background: #fcc url('wrong.png') no-repeat 5px center;
  color: #c00;
}

.info {
  font-weight: bold;
  margin: -10px 0 15px 0;
  padding: 5px 5px 5px 27px;
  border: 2px solid #7BA6D6;
  background: #E7F3FF  url('info.png') no-repeat 5px center;
  color: #5C7CA0;
}

.key {
  font-weight: bold;
  margin: -10px 0 15px 0;
  padding: 5px 5px 5px 27px;
  border: 2px solid #8CD76B;
  background: #E7FFD6 url('key.png') no-repeat 5px center;
  color: #BF9E1B;
}

#calendar.small-calendar
{
  width: 500px;
  height: 450px;
  margin: 0 auto;
}

.btn_submit {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 10px 8px 11px;
  text-decoration: none;
}

.btn_submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn_link {
  background: #b2b9bd;
  background-image: -webkit-linear-gradient(top, #b2b9bd, #858585);
  background-image: -moz-linear-gradient(top, #b2b9bd, #858585);
  background-image: -ms-linear-gradient(top, #b2b9bd, #858585);
  background-image: -o-linear-gradient(top, #b2b9bd, #858585);
  background-image: linear-gradient(to bottom, #b2b9bd, #858585);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  font-size: 16px;
  padding: 2px 4px 2px 4px;
  text-decoration: none;
}

.btn_link:hover {
  background: #8f9294;
  background-image: -webkit-linear-gradient(top, #8f9294, #373838);
  background-image: -moz-linear-gradient(top, #8f9294, #373838);
  background-image: -ms-linear-gradient(top, #8f9294, #373838);
  background-image: -o-linear-gradient(top, #8f9294, #373838);
  background-image: linear-gradient(to bottom, #8f9294, #373838);
  text-decoration: none;
}

center{
  text-align: center;
  color: white;
}
